@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

header{
  text-align: center;
}

main{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

form{
  margin: 18px;
  width: 25%;
  color: #445a67;
}

form div{
  display: flex;
  flex-direction: column;
  margin: 10px;
}

input, button{
  border: none;
  background-color: #F5E1FD;
  outline: none;
  padding: 8px;
  transition: all .5s ease;
  border-radius: 8px;
}

button{
  background-color: #FEC8D8;
  width: 50%;
  margin: 0 auto;
  cursor: pointer;
  
}

button:hover{
  background-color: #D291BC;
}

h2, h3{
  text-align: center;
  color: #445a67;
}

#table{
  width: 100%;
}

table{
  border-collapse: collapse;
  width: 100%;
}

table th{
  background-color: #FEC8D8;
  color: #445a67;
}

#tbody{
  background-color: #F5E1FD;
}

td, th{
  text-align: center;
  padding: 8px;
}

span{
  color: red;
}